.main {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container {
    width: 480px;
}

.headerImage {
    padding-top: 10px;
}

.headerImage img {
    max-width: 100%;
}

.function {
    width: 100%;
    padding-top: 10px;
}

.functionTitle {
    padding-bottom: 8px;
}

.chart {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

/* @media screen and (min-width: 752px) {
    .cInfo {
        display: flex;
    }
} */
